<md-dialog aria-label="Settings"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <div>
            <img src="./images/modal2.png" class="dialog-header-icon"/>
        </div>
        <h2>Settings for {{survey_name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
          
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="saveSettings()" style="margin-right:20px;">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
